
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ユーザーページ</title>

    <%- include("../_share/stylesheets.ejs") %>
  </head>

  <body>

    <%- include("../_share/navbar.ejs") %>

    <main role="main" class="container">

      <div class="border-bottom mt-5 mb-5">
        <h1><%= user.name %></h1>
      </div>

      <div class="mt-5 mb-5">
        <% for (var item of list) { %>
        <%- include("../search/item.ejs", item)%>
        <% } %>
      </div>

    </main>

    <%- include("../_share/javascripts.ejs") %>
  </body>
</html>
