
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ユーザーページ</title>

    <%- include("../_share/stylesheets.ejs") %>
  </head>

  <body>

    <%- include("../_share/navbar.ejs") %>

    <main role="main" class="container">

      <div class="float-right">
        <span class="badge badge-secondary"><%= count %> 件</span>
      </div>

      <div class="border-bottom mt-5 mb-5">
        <h1><%= currentUser.name %></h1>
      </div>


      <div class="mt-5 mb-5">
        <% for (var item of list) { %>
        <%- include("../search/item.ejs", item)%>
        <% } %>
      </div>

      <nav>
        <ul class="pagination">
          <% for (i = 1; i <= pagination.max; i++) { %>
            <% if (pagination.current !== i) { %>
            <li class="page-item"><a class="page-link" href="/users/<%= currentUser.email %>/?page=<%= i %>"><%= i %></a></li>
            <% } else { %>
            <li class="page-item active"><span class="page-link disabled"><%= i %></span></li>
            <% } %>
          <% } %>
        </ul>
      </nav>

    </main>

    <%- include("../_share/javascripts.ejs") %>
  </body>
</html>
